<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <header style="text-transform: uppercase; font-weight: bold; margin-bottom: 2rem;">
        <a href="/" style="color: #b22222; text-decoration: none; margin-right: 15px;">&lt;NYRKOV&gt;</a>
        <a href="/about" style="color: #b22222; text-decoration: none;">ABOUT</a>
    </header>

    <main>
        {{ content }} </main>
</body>
</html>