<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <header style="text-transform: uppercase; font-weight: bold; margin-top: 4rem; margin-bottom: 3rem;">
        <a href="/" style="color: #2563eb; text-decoration: none; margin-right: 15px;">&lt;NYRKOV&gt;</a>
        <a href="/about" style="color: #2563eb; text-decoration: none;">ABOUT</a>
    </header>

    <main>
        {{ content }} 
    </main>
</body>
</html>